/*------------ 
    reset
------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------ 
   commons
------------ */

h1 {
    font-size: 85px;
}

h2 {
    font-size: 48px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.large-section {
    max-width: 1440px;
    margin: auto;
    padding-top: 100px;
}

.middle-section {
    max-width: 1080px;
    margin: auto;
}
/*------------ 
  typography
------------ */

body {
    font-family: 'Open Sans', sans-serif;
}

/*------------ 
     head
------------ */

nav {
    padding: 25px;
    /* background-color: aqua; */
}

nav img, nav ul, nav ul li, .nav-left, .nav-right, .btn-nav {
    display: inline-block;
    vertical-align: middle;
}

nav img, nav a, nav button {
    text-decoration: none;
    margin: 0 25px;
}

.nav-left, .nav-right {
    width: calc(100% -4px);
}

.nav-right {
    float: right;
}

.btn {
    padding: 7px 20px;
    border: none;
    color: #fff;
    background-color: #0061ff;
}

/*------------ 
     main
------------ */

.large-section-bgc {
    background-color: #b4d0e7;
}

.col-1-section {
    padding: 30px 0 50px 0;
}

.col-1-left, .col-1-right {
    max-height: 480px;
}

.col-1-left {
    float: left;
    width: 33%;
    font-weight: bold;
    padding-top: 50px;
}

.col-1-right {
    display: inline-block;
    float: right;
    width: 67%;
}

.banner1 {
    width: 105%;
    position: relative;
    bottom: -50px;
}

.col-1-left p, .col-1-left button {
    font-size: 18px;
}

.col-1-left button, .col-1-left i {
    display: block;
}

.col-1-left button {
    margin: 40px 0 20px;
    padding: 12px 20px;
}

.col-1-left i {
    margin: 50px 0 ;
}

.title-plan {
    margin-top: 100px;

}

.title-plan h2 {
    margin-top: 200px;
}

.title-plan form {
    margin-top: 50px;
}

.title-plan form label {
    margin-right: 30px;
}