/*------------ 
    reset
------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------ 
   commons
------------ */

/*------------ 
  typography
------------ */

body {
    font-family: 'Open Sans', sans-serif;
}

/*------------ 
     head
------------ */

nav {
    padding: 25px;
    /* background-color: aqua; */
}

nav img, nav ul, nav ul li, .nav-left, .nav-right, .btn-nav {
    display: inline-block;
    vertical-align: middle;
}

nav img, nav a, nav button {
    text-decoration: none;
    margin: 0 25px;
}

.nav-left, .nav-right {
    width: calc(100% -4px);
}

.nav-right {
    float: right;
}

.btn {
    padding: 7px 20px;
    border: none;
    color: #fff;
    background-color: #0061ff;
}
